@using SSIS.Enums
@using SSIS.Models
@model List<DepDisbursementList>


@{
    ViewBag.Title = "Disbursement History";
    Layout = "~/Views/Shared/Store/_Layout.cshtml";
}

<div class="text-center">
    <h2>Disbursement History</h2>
</div>


@if (Model.Count != 0)
{
    <table id="tableReq" class="table table-bordered table-head-bg-info table-bordered-bd-info mt-4">
        <thead>
            <tr>
                <th>Disbursement No</th>
                <th>Department Name</th>
                <th>Department Representative</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DepDisbursementList dep in @Model)
            {
                if (dep.DisburseItems.Count > 0)
                {
                    <tr>
                        <td>@dep.DepDisbursementListNumber</td>

                        <td>@dep.Department.DepartmentName </td>
                        <td>@dep.Department.DepartmentRepresentative.UserName </td>
                        <td>
                            @if (dep.DisbursementStatus == DisbursementStatus.WAITING_FOR_OTP)
                            {
                                @:Waiting for OTP
                            }
                            else if (dep.DisbursementStatus == DisbursementStatus.WAITING_FOR_ACK)
                            {
                                @:Waiting for Acknowledgment
                            }
                            else if (dep.DisbursementStatus == DisbursementStatus.COLLECTED)
                            {
                                @:Collected
                            }
                            else if (dep.DisbursementStatus == DisbursementStatus.CANCELLED)
                            {
                                @:Cancelled
                            }
                            @if (dep.isGenerated)
                            {
                                <br />@:Request Generated
                            }
                        </td>
                        <td>
                            <button class="btn btn-info btn-xs anchorDetail" data-id="@dep.DepDisbursementListId">View</button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
}
else
{
    @:There is no data to show
}
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {
            $('#tableReq').DataTable({
                "order": [[0, "desc"]]
            });
        });

    </script>
    <script>
        var TeamDetailPostBackURL = '/StoreClerk/Details';
        $(function () {
            $("#tableReq").on("click", ".anchorDetail", function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                callPopUp(id);
            });
            function callPopUp(id) {

                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

    </script>
}
