
@model SSIS.View_Models.RequisitionViewModel

<div class="modal-header">
    <h5 class="modal-title"> @ViewBag.DepName</h5>
</div>

<hr />
<dl class="dl-horizontal">
    <div class="container">
        <table class="table table-bordered table-head-bg-info table-bordered-bd-info mt-4">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Description</th>
                    <th>Quantity</th>

                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.RequestItems.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.RequestItems[i].Item.Description</td>
                        <td>@Model.RequestItems[i].Quantity</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</dl>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
