<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SSIS | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Content/assets/img/icon.ico" type="image/x-icon" />
    <link href="~/Content/Login/main.css" rel="stylesheet" />
    <link href="~/Content/Login/util.css" rel="stylesheet" />
    <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSIS | @ViewBag.Title</title>

</head>
<body>
    @RenderBody()

    <!--   Core JS Files   -->
    <script src="../Content/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../Content/assets/js/core/popper.min.js"></script>
    <script src="../Content/assets/js/core/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
